name: Build and Publish to PyPI

on:
  workflow_dispatch:

jobs:
  build:
    name: Build Release
    runs-on: ubuntu-latest
    steps:
    - name: Set up Python
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'  # Specify the Python version you need
    - name: Configure Git User Info
      run: |
        git config --local user.name "Asger Jon Vistisen"
        git config --local user.email "asgerjon2@gmail.com"
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install bump2version build twine

    - name: Bump Version and Tag
      id: version
      run: |
        bump2version patch --commit --tag
        echo "::set-output name=tag::$(git describe --tags --abbrev=0)"

    - name: Push Changes
      run: |
        git push && git push --tags

    - name: Build Package
      run: |
        python -m build --sdist --wheel --outdir dist/

    - name: Publish to PyPI
      uses: pypa/gh-action-pyp-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}
        skip-existing: true

    - name: Create GitHub Release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.version.outputs.tag }}
        release_name: Release ${{ steps.version.outputs.tag }}
        draft: false
        prerelease: false
